
.poem-wrapper
  .poem
    %h1
      =@stanza_translations.first.translation.title
    - canto_title = @stanza_translations.first.stanza.canto.canto_translations.find_by_translation_id(@stanza_translations.first.translation_id).title
    %h2
      - if params["view"] == "no_annotations"
        =put_tags_in_stanza(remove_annotations(canto_title))
      - else
        =put_tags_in_stanza(canto_title)
    %p
    -@stanza_translations.each do |st|
      #st.stanza.number
        .stanza_number
          %p= st.stanza.number
        %p
          - if params["view"] == "no_annotations"
            = put_tags_in_stanza(remove_annotations(st.text))
          - else
            = put_tags_in_stanza(st.text)
