.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{:class => "close", "data-dismiss" => "modal"}
          %span{"aria-hidden" => "true"}
            &times;
        %h4{:class => "modal-title"} Title
      .modal-body
        %p One fine body
      .modal-footer
        %button{:class => "btn btn-primary", "data-dismiss" => "modal"} Close

.poem-wrapper
  .poem
    %h1
      =@stanza_translations.first.translation.title
    - canto_title = @stanza_translations.first.stanza.canto.canto_translations.find_by_translation_id(@stanza_translations.first.translation_id).title
    %h2
      =put_tags_in_stanza(canto_title)
    %p
    -@stanza_translations.each do |st|
      %p{:id => st.stanza.number}
        = st.stanza.number
        %br
        = put_tags_in_stanza(st.text)
