%h1 About the project

%p This site contains Byron’s “epic satire” <i>Don Juan</i> (at present, only several select cantos). This version of <i>Don Juan</i> is annotated by Isaac Asimov, an American science fiction writer and popularizer of science. In his annotations, Asimov explains the numerous historical facts and literary allusions that may not be familiar to the present-day reader, and playfully assumes Byron’s ironic tone to offer his own observations. Here is a sample of some of Asimov’s annotations:

%blockquote Note 815. ...I am never very impressed by the praise of the simple life as sung by sophisticates city-dwelling aristocrats. They rarely show any great desire to take up that simple life, but content themselves with loving it from afar.

%blockquote Note 794. When allied forces win a great battle, it is quite common for there to be some disagreement as to which of the allies performed the greater service and which would have been beaten without the other. (Very often, either would have been beaten without the other, but this never seems to strike either ally as a suitable compromise.)

%blockquote Note 876. Moses is a byword for meekness since, as the Bible says, “Now the man Moses was very meek, above all the men, which were upon the face of the earth” (Numbers 12:3). To those who believe Moses wrote every word of the first five books of the Bible, including this line, there is a problem in explaining how so meek a man could so praise his own meekness.

%p Or his series of attacks on censorship.

%blockquote Note 103. In Byron’s time it was customary to leave “damn” unspelled out to avoid trouble with the censor. Obviously, the inclusion of two letters and the necessity of rhyme makes the word unmistakable, but censorship is characteristically concerned with form rather than reason.

%blockquote Note 445. Like “damn”, “whore” could not be spelled out, though what sense of purity is served by a missing “o” is known only to the Devil and to censors.

%blockquote Note 541. “God”, like “whore”, sometimes requires a missing “o” to be acceptable to the censor. Surely only a censor’s mind could find such neatly equal embarrassment in these two words.

%p Besides Asimov’s annotations (further <a href="http://www.brainpickings.org/index.php/2014/01/22/lord-byron-don-juan-isaac-asimov-milton-glaser">praised</a> by Maria Popova), the site has a treat for the Russian-speaking readers. It contains two Russian translations of <i>Don Juan</i> — one by Tatiana Gnedich and the other by Georgy Shengeli, which, though made at roughly the same time, in the mid-XX century, are very different from each other. Shengheli tried to preserve all the nuances of the English original (an enormous undertaking), whereas Gnedich strived to create an easy-to-read poem in fluent Russian, and had less regard for details. These two translations are the best attempts existing to date of translating Don Juan into Russian.

%p The reader can choose to read any of these texts (the English original, Russian translation by Gnedich or Russian translation by Shengeli) or to view them side by side.

%h2 Text sources
%p The source of the English original of <i>Don Juan</i> is the <a href="http://www.gutenberg.org/files/21700/21700-h/21700-h.htm">text published by Project Gutenberg</a> (based on the 1837 edition of <i>Don Juan</i>). This text has been proofread and corrected (to the best of my abilities) against the edition of <i>Asimov’s annotated “Don Juan”</i> and <i>The Works of Lord Byron. Complete in one volume</i> (1837).

%p Asimov’s annotations are copied from Asimov’s annotated “Don Juan” / Text by Lord Byron; notes by Isaac Asimov. Illustrated by Milton Glaser. Garden City, N.Y.: Doubleday, 1972.

%p The text of Gnedich’s translation was copied from <a href="http://www.lib.ru/POEZIQ/BAJRON/donjuan.txt">Moshkov’s library</a> and checked against the following volume: Байрон Д. Г. Дон-Жуан / пер. Т. Гнедич // Д. Г. Байрон. Избранные произведения в 2 томах. М.: Художественная литература, 1987. Т. 2.

%p The text of Shengeli’s translation was copied from the following volume: Байрон Д. Г. Дон-Жуан / пер., послесл. и примеч. Г. Шенгели. М.: Гос. изд. худож. лит-ры, 1947.