body{
  background-color: #fffcf6;
  background-image: url(image_path('bg.jpg'));
}

#collapseOne {
  .navbar-form{
  padding-top: 0;
  margin-top: 0;
  }
  #stanza-selection-panel{
    width: 30%;
    float: right;
    background: rgba(255, 255, 255, 0.6);
  }
}

// a trick to center a div without specifying its width
.poem-wrapper{
  text-align: center;
  .poem{
    display: inline-block;
    text-align: left; 
  }
}
// end of the centering trick

.home-title{
  h1{
    text-align: center;
  }
  h2{
    text-align: center;
    margin: 10px 0;
    font-size: 170%;
  }
}

.home-menu-container{
  margin-top: 3em;
  text-align: center;
  img{
    float: right;
  };
  .home-menu{
    padding-top: 3em;
    display: inline-block;
    vertical-align: middle;
    h3{
      text-align: left;
      line-height: 150%;
    }
  }
}

.comment-link{
  font-size: 130%;
  line-height: 0.5em;
  vertical-align: baseline;
  position: relative;
  top: -0.1em;
}

.selection {
  ul {
    font-size: 150%;
    list-style-type: none;
    a {
      border-bottom: 1px dashed;
      &:hover {
        text-decoration: none; 
      }
    }
  }
  label{
    $label-color: #428bca;
    $label-hover-color: darken($label-color, 15%);
    color: $label-color;
    border-bottom: 1px dashed;
    font-size: 150%;
    font-weight: normal;
    margin-left: 0.5em;
    &:hover{
      color: $label-hover-color;
    }
  }
  input[type="radio"]{
    display: none;
  }
}

.highlight{
  background-color: #FFFF88;
}

.message{
  form {
    label{
      margin-top: 1em;
    }
    input{
      padding: 1em;
      &[type="submit"]{
        margin: 1em 0;
        float: right;
      }
    }
  }
}