<!DOCTYPE html>
<html>
<head>
  <title>Juan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Canto<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Dedication</a></li>
              <li><a href="#">Canto the First</a></li>
            </ul>
          </li>
        <form class="navbar-form navbar-left">
          <select class="form-control">
            <option>Stanza 1</option>
            <option>Stanza 2</option>
            <option>Stanza 3</option>
            <option>Stanza 4</option>
            <option>Stanza 5</option>
            <option>Stanza 6</option>
            <option>Stanza 7</option>
            <option>Stanza 8</option> 
          </select>
        </form>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



<%= yield %>

</body>
</html>
